.App {
  display: grid;
  grid-template-columns: repeat(6, 250px);
  gap: 30px;
  background-color: #212121;
}

.card {
  background-color: white;
  width: 200px;
  height: 300px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  padding: 0;
  margin: 0;
}